<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>jnelsonjava</title>
  <link rel="stylesheet" href="/styles/base.css">

</head>

<body>

  <header>
    
    <h1>JNelsonJava Home</h1>

  </header>

  <main>

    <p>A simple page for testing authorization</p>

  </main>

</body>

</html>
